<div>
    <div id="reLeftColumn" class="reColumn">
        <form class="reForm">
            <fieldset>
                <legend>{{localize "PF2E-REG.Key"}}</legend>
                <select id="reKey">
                    <option value="FlatModifier">{{localize "PF2E-REG.Flat Modifier"}}</option>
                    <option value="Weakness">{{localize "PF2E-REG.Weakness"}}</option>
                    <option value="Resistance">{{localize "PF2E-REG.Resistance"}}</option>
                    <option value="Immunity">{{localize "PF2E-REG.Immunity"}}</option>
                    <option value="ToggleProperty">{{localize "PF2E-REG.Toggle Property"}}</option>
                    <option value="DamageDice">{{localize "PF2E-REG.Damage Dice"}}</option>
                    <option value="BaseSpeed">{{localize "PF2E-REG.Base Speed"}}</option>
                    <option value="FixedProficiency">{{localize "PF2E-REG.Fixed Proficiency"}}</option>
                    <option value="Strike">{{localize "PF2E-REG.Strike"}}</option>
                    <option value="Note">{{localize "PF2E-REG.Note"}}</option>
                    <option value="DexterityModifierCap">{{localize "PF2E-REG.Dexterity Modifier Cap"}}</option>
                    <option value="Sense">{{localize "PF2E-REG.Sense"}}</option>
                    <option value="WeaponPotency">{{localize "PF2E-REG.Weapon Potency"}}</option>
                    <option value="Striking">{{localize "PF2E-REG.Striking Rune"}}</option>
                    <option value="MultipleAttackPenalty">{{localize "PF2E-REG.Multiple Attack Penalty"}}</option>
                    <option value="ActiveEffectLike">{{localize "PF2E-REG.Active Effect Like"}}</option>
                    <option value="RollOption">{{localize "PF2E-REG.Roll Option"}}</option>
                    <option value="TempHP">{{localize "PF2E-REG.Temp HP"}}</option>
                    <option value="TokenEffectIcon">{{localize "PF2E-REG.Token Effect Icon"}}</option>
                    <option value="TokenImage">{{localize "PF2E-REG.Token Image"}}</option>
                    <option value="CreatureSize">{{localize "PF2E-REG.Creature Size"}}</option>
                    <option value="EffectTarget">{{localize "PF2E-REG.Effect Target"}}</option>
                    <option value="ActorTraits">{{localize "PF2E-REG.Actor Traits"}}</option>
                    <option value="AdjustDegreeOfSuccess">{{localize "PF2E-REG.Adjust Degree Of Success"}}</option>
                </select>
                <button id="reInfo" type="button">Info</button>
            </fieldset>
        </form>
        <button id="reUpdateKey" class="reButton" type="submit">{{localize "PF2E-REG.Pick Key"}}</button>
        <div id="reContent"></div>
    </div>
    <div id="reRightColumn" class="reColumn">
        <button id="reUpdate" class="reButton" type="submit">{{localize "PF2E-REG.Update"}}</button>
        <textarea id="reRuleElement" rows="30"></textarea>
        <button id="reCopy" class="reButton" type="button">{{localize "PF2E-REG.Copy"}}</button>
    </div>
</div>
<style>
    #reLeftColumn {
        overflow-y: scroll;
        height: 550px;
    }
    #reInfo {
        float: right;
        position: relative;
        width: auto;
    }
    .reColumn {
        float: left;
        width: 50%;
        position: relative;
    }
    .reForm {
        margin: 5px;
    }
    .reButton {
        width: 90%;
        background: rgba(255, 255, 240, 0.8);
        border: 1px solid #b5b3a4;
        font-size: 14px;
        line-height: 28px;
        font-family: "Signika", sans-serif;
        display: block;
        margin: 5px auto;
    }
</style>
<script type="module">
    // Rule Elements specific HTML using composition
    let rule = {};
    let label = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Label"}}</legend><input type="text" id="reLabel" class="label"></fieldset></form>`;
    let text = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Text"}}</legend><input type="text" id="reText" class="text"></fieldset></form>`;
    let selector = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Selector"}}</legend><select id="reSelector">
            <option value=""></option>
            <option value="all">{{localize "PF2E-REG.All"}}</option>
            <option value="str-based">{{localize "PF2E-REG.Strength-Based"}}</option>
            <option value="dex-based">{{localize "PF2E-REG.Dexterity-Based"}}</option>
            <option value="con-based">{{localize "PF2E-REG.Constitution-Based"}}</option>
            <option value="int-based">{{localize "PF2E-REG.Intelligence-Based"}}</option>
            <option value="wis-based">{{localize "PF2E-REG.Wisdom-Based"}}</option>
            <option value="cha-based">{{localize "PF2E-REG.Charisma-Based"}}</option>
            <option value="attack">{{localize "PF2E-REG.Attack"}}</option>
            <option value="mundane-attack">{{localize "PF2E-REG.Mundane Attack"}}</option>
            <option value="spell-attack">{{localize "PF2E-REG.Spell Attack"}}</option>
            <option value="attack-roll">{{localize "PF2E-REG.Attack Roll"}}</option>
            <option value="str-attack">{{localize "PF2E-REG.Strength Attack"}}</option>
            <option value="dex-attack">{{localize "PF2E-REG.Dexterity Attack"}}</option>
            <option value="con-attack">{{localize "PF2E-REG.Constitution Attack"}}</option>
            <option value="int-attack">{{localize "PF2E-REG.Intelligence Attack"}}</option>
            <option value="wis-attack">{{localize "PF2E-REG.Wisdom Attack"}}</option>
            <option value="cha-attack">{{localize "PF2E-REG.Charisma Attack"}}</option>
            <option value="damage">{{localize "PF2E-REG.Damage"}}</option>
            <option value="mundane-damage">{{localize "PF2E-REG.Mundane Damage"}}</option>
            <option value="saving-throw">{{localize "PF2E-REG.Saving Throws"}}</option>
            <option value="fortitude">{{localize "PF2E-REG.Fortitude"}}</option>
            <option value="reflex">{{localize "PF2E-REG.Reflex"}}</option>
            <option value="will">{{localize "PF2E-REG.Will"}}</option>
            <option value="initiative">{{localize "PF2E-REG.Initiative"}}</option>
            <option value="perception">{{localize "PF2E-REG.Perception"}}</option>
            <option value="class">{{localize "PF2E-REG.Class DC"}}</option>
            <option value="ac">{{localize "PF2E-REG.Armor Class"}}</option>
            <option value="hp">{{localize "PF2E-REG.Hit Points"}}</option>
            <option value="hp-per-level">{{localize "PF2E-REG.HP per Level"}}</option>
            <option value="speed">{{localize "PF2E-REG.Speed"}}</option>
            <option value="land-speed">{{localize "PF2E-REG.Land Speed"}}</option>
            <option value="burrow-speed">{{localize "PF2E-REG.Burrow Speed"}}</option>
            <option value="climb-speed">{{localize "PF2E-REG.Climb Speed"}}</option>
            <option value="fly-speed">{{localize "PF2E-REG.Fly Speed"}}</option>
            <option value="swim-speed">{{localize "PF2E-REG.Swim Speed"}}</option>
            <option value="skill-check">{{localize "PF2E-REG.Skill Check"}}</option>
            <option value="acrobatics">{{localize "PF2E-REG.Acrobatics"}}</option>
            <option value="arcana">{{localize "PF2E-REG.Arcana"}}</option>
            <option value="athletics">{{localize "PF2E-REG.Athletics"}}</option>
            <option value="crafting">{{localize "PF2E-REG.Crafting"}}</option>
            <option value="deception">{{localize "PF2E-REG.Deception"}}</option>
            <option value="diplomacy">{{localize "PF2E-REG.Diplomacy"}}</option>
            <option value="intimidation">{{localize "PF2E-REG.Intimidation"}}</option>
            <option value="medicine">{{localize "PF2E-REG.Medicine"}}</option>
            <option value="nature">{{localize "PF2E-REG.Nature"}}</option>
            <option value="occultism">{{localize "PF2E-REG.Occultism"}}</option>
            <option value="performance">{{localize "PF2E-REG.Performance"}}</option>
            <option value="religion">{{localize "PF2E-REG.Religion"}}</option>
            <option value="society">{{localize "PF2E-REG.Society"}}</option>
            <option value="stealth">{{localize "PF2E-REG.Stealth"}}</option>
            <option value="survival">{{localize "PF2E-REG.Survival"}}</option>
            <option value="thievery">{{localize "PF2E-REG.Thievery"}}</option>
        </select></fieldset></form>`;
    let damageSelector = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Selector"}}</legend><select id="reSelector">
            <option value=""></option>
            <option value="damage">{{localize "PF2E-REG.Damage"}}</option>
            <option value="mundane-damage">{{localize "PF2E-REG.Mundane Damage"}}</option>
        </select></fieldset></form>`;
    let selectorAttack = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Selector"}}</legend><select id="reSelector">
            <option value="attack">{{localize "PF2E-REG.Attack"}}</option>
        </select></fieldset></form>`;
    let selectorDamage = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Selector"}}</legend><select id="reSelector">
            <option value="damage">{{localize "PF2E-REG.Damage"}}</option>
        </select></fieldset></form>`;
    let speedSelector = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Selector"}}</legend><select id="reSelector">
            <option value=""></option>
            <option value="speed">{{localize "PF2E-REG.Speed"}}</option>
            <option value="land-speed">{{localize "PF2E-REG.Land Speed"}}</option>
            <option value="burrow-speed">{{localize "PF2E-REG.Burrow Speed"}}</option>
            <option value="climb-speed">{{localize "PF2E-REG.Climb Speed"}}</option>
            <option value="fly-speed">{{localize "PF2E-REG.Fly Speed"}}</option>
            <option value="swim-speed">{{localize "PF2E-REG.Swim Speed"}}</option>
        </select></fieldset></form>`;
    let senseSelector = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Selector"}}</legend><select id="reSelector">
            <option value=""></option>
            <option value="low-light-vision">{{localize "PF2E-REG.Low-light Vision"}}</option>
            <option value="darkvision">{{localize "PF2E-REG.Darkvision"}}</option>
            <option value="greater-darkvision">{{localize "PF2E-REG.Greater Darkvision"}}</option>
            <option value="scent">{{localize "PF2E-REG.Scent"}}</option>
            <option value="blindsight">{{localize "PF2E-REG.Blindsight"}}</option>
            <option value="tremorsense">{{localize "PF2E-REG.Tremorsense"}}</option>
            <option value="echolocation">{{localize "PF2E-REG.Echolocation"}}</option>
            <option value="lifesense">{{localize "PF2E-REG.Lifesense"}}</option>
            <option value="motionsense">{{localize "PF2E-REG.Motionsense"}}</option>
            <option value="wavesense">{{localize "PF2E-REG.Wavesense"}}</option>
        </select></fieldset></form>`;
    let advSelector = `
        <form class="reForm"><fieldset>
        <legend>{{localize "PF2E-REG.Advanced Selector"}}</legend>
        <select id="reAdvSelector">
            <option value=""></option>
            <option value="{item|_id}-">{{localize "PF2E-REG.This Item"}}</option>
            <option value="sword-weapon-group-">{{localize "PF2E-REG.Swords"}}</option>
            <option value="bow-weapon-group-">{{localize "PF2E-REG.Bows"}}</option>
            <option value="knife-weapon-group-">{{localize "PF2E-REG.Knives"}}</option>
            <option value="spear-weapon-group-">{{localize "PF2E-REG.Spears"}}</option>
            <option value="axe-weapon-group-">{{localize "PF2E-REG.Axes"}}</option>
            <option value="hammer-weapon-group-">{{localize "PF2E-REG.Hammers"}}</option>
            <option value="pick-weapon-group-">{{localize "PF2E-REG.Picks"}}</option>
            <option value="flail-weapon-group-">{{localize "PF2E-REG.Flails"}}</option>
            <option value="brawling-weapon-group-">{{localize "PF2E-REG.Brawling"}}</option>
            <option value="polearm-weapon-group-">{{localize "PF2E-REG.Polearms"}}</option>
            <option value="sling-weapon-group-">{{localize "PF2E-REG.Slings"}}</option>
            <option value="bomb-weapon-group-">{{localize "PF2E-REG.Bombs"}}</option>
            <option value="shield-weapon-group-">{{localize "PF2E-REG.Shields"}}</option>
            <option value="dart-weapon-group-">{{localize "PF2E-REG.Darts"}}</option>
            <option value="club-weapon-group-">{{localize "PF2E-REG.Club"}}</option>
        </select>
        </fieldset></form>`;
    let potencyAdvSelector = `
        <form class="reForm"><fieldset>
        <legend>{{localize "PF2E-REG.Advanced Selector"}}</legend>
        <select id="reAdvSelector">
            <option value=""></option>
            <option value="{item|_id}-">{{localize "PF2E-REG.This Item"}}</option>
        </select>
        </fieldset></form>`;
    let strikingAdvSelector = `
        <form class="reForm"><fieldset>
        <legend>{{localize "PF2E-REG.Advanced Selector"}}</legend>
        <select id="reAdvSelector">
            <option value=""></option>
            <option value="{item|_id}-">{{localize "PF2E-REG.This Item"}}</option>
        </select>
        </fieldset></form>`;
    let type = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Type"}}</legend>
        <select id="reType">
            <option value=""></option>
            <option value="untyped">{{localize "PF2E-REG.Untyped"}}</option>
            <option value="circumstance">{{localize "PF2E-REG.Circumstance"}}</option>
            <option value="item">{{localize "PF2E-REG.Item"}}</option>
            <option value="status">{{localize "PF2E-REG.Status"}}</option>
        </select></fieldset></form>`;
    let adjustType = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Type"}}</legend><select id="reType">
            <option value=""></option>
            <option value="attribute">{{localize "PF2E-REG.Attribute"}}</option>
            <option value="save">{{localize "PF2E-REG.Save"}}</option>
            <option value="skill">{{localize "PF2E-REG.Skill"}}</option>
        </select></fieldset></form>`;
    let damageType = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Damage Type"}}</legend><select id="reDamageType">
            <option value=""></option>
            <option value="slashing">{{localize "PF2E-REG.Slashing"}}</option>
            <option value="piercing">{{localize "PF2E-REG.Piercing"}}</option>
            <option value="bludgeoning">{{localize "PF2E-REG.Bludgeoning"}}</option>
            <option value="precision">{{localize "PF2E-REG.Precision"}}</option>
            <option value="fire">{{localize "PF2E-REG.Fire"}}</option>
            <option value="cold">{{localize "PF2E-REG.Cold"}}</option>
            <option value="electricity">{{localize "PF2E-REG.Electricity"}}</option>
            <option value="acid">{{localize "PF2E-REG.Acid"}}</option>
            <option value="poison">{{localize "PF2E-REG.Poison"}}</option>
            <option value="sonic">{{localize "PF2E-REG.Sonic"}}</option>
            <option value="force">{{localize "PF2E-REG.Force"}}</option>
            <option value="mental">{{localize "PF2E-REG.Mental"}}</option>
            <option value="lawful">{{localize "PF2E-REG.Lawful"}}</option>
            <option value="chaotic">{{localize "PF2E-REG.Chaotic"}}</option>
            <option value="good">{{localize "PF2E-REG.Good"}}</option>
            <option value="evil">{{localize "PF2E-REG.Evil"}}</option>
            <option value="positive">{{localize "PF2E-REG.Positive"}}</option>
            <option value="negative">{{localize "PF2E-REG.Negative"}}</option>
        </select></fieldset></form>`;
    let anyType = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Type"}}</legend><input type="text" id="reType"></fieldset></form>`;
    let value = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Value"}}</legend><input type="text" id="reValue"></fieldset></form>`;
    let textValue = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Value"}}</legend><input type="text" id="reValue"></fieldset></form>`;
    let sizeValue = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Value"}}</legend><select id="reValue">
            <option value=""></option>
            <option value="tiny">Tiny</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="huge">Huge</option>
            <option value="gargantuan">Gargantuan</option>
        </select></fieldset></form>`;
    let dice = `
        <form class="reForm"><fieldset>
            <legend>{{localize "PF2E-REG.Dice"}}</legend>
            <label>{{localize "PF2E-REG.Number of Dice"}}</label>
            <input type="number" id="reDiceNumber">
            <label>{{localize "PF2E-REG.Die Size"}}</label>
            <select id="reDieSize">
                <option value=""></option>
                <option value="d4">{{localize "PF2E-REG.d4"}}</option>
                <option value="d6">{{localize "PF2E-REG.d6"}}</option>
                <option value="d8">{{localize "PF2E-REG.d8"}}</option>
                <option value="d10">{{localize "PF2E-REG.d10"}}</option>
                <option value="d12">{{localize "PF2E-REG.d12"}}</option>
                <option value="d20">{{localize "PF2E-REG.d20"}}</option>
            </select>
            <label>{{localize "PF2E-REG.Override Current Dice Size"}}</label>
            <input type="checkbox" id="reOverride">
        </fieldset></form>`;
    let adjustment = `
        <form class="reForm">
            <fieldset><legend>{{localize "PF2E-REG.Adjustments"}}</Legend>
            <label>{{localize "PF2E-REG.Critical Success"}}<br /></label>
            <select id="reCrit">
            <option value=""></option>
            <option value="one-degree-worse">{{localize "PF2E-REG.One Degree Worse"}}</option>
            <option value="two-degrees-worse">{{localize "PF2E-REG.Two Degrees Worse"}}</option>
            </select>

            <label><br />{{localize "PF2E-REG.Success"}}<br /></label>
            <select id="reSuccess">
            <option value=""></option>
            <option value="one-degree-better">{{localize "PF2E-REG.One Degree Better"}}</option>
            <option value="one-degree-worse">{{localize "PF2E-REG.One Degree Worse"}}</option>
            <option value="two-degrees-worse">{{localize "PF2E-REG.Two Degrees Worse"}}</option>
            </select>

            <label><br />{{localize "PF2E-REG.Failure"}}<br /></label>
            <select id="reFail">
            <option value=""></option>
            <option value="two-degrees-better">{{localize "PF2E-REG.Two Degrees Better"}}</option>
            <option value="one-degree-better">{{localize "PF2E-REG.One Degree Better"}}</option>
            <option value="one-degree-worse">{{localize "PF2E-REG.One Degree Worse"}}</option>
            </select>

            <label><br />{{localize "PF2E-REG.Critical Failure"}}<br /></label>
            <select id="reFumble">
            <option value=""></option>
            <option value="two-degrees-better">{{localize "PF2E-REG.Two Degrees Better"}}</option>
            <option value="one-degree-better">{{localize "PF2E-REG.One Degree Better"}}</option>
            </select>
            </fieldset>
        </form>`;
    let predicate = `
        <form class="reForm">
            <fieldset><legend>{{localize "PF2E-REG.Predicates"}}</legend>
            <p>{{localize "PF2E-REG.Separate entries with a comma (no space)"}}<br /></p>
            <label>{{localize "PF2E-REG.All:"}}</label>
            <input type="text" id="reAll">

            <label>{{localize "PF2E-REG.Any:"}}</label>
            <input type="text" id="reAny">

            <label>{{localize "PF2E-REG.Not:"}}</label>
            <input type="text" id="reNot">
            </fieldset>
        </form>`;
    let property = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Property"}}</legend><input type="text" id="reProperty" value="flags.pf2e.rollOptions."></fieldset></form>`;
    let critical = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Critical"}}</legend><select id="reCritical">
            <option value=""></option>
            <option value="true">{{localize "PF2E-REG.True"}}</option>
        </select></fieldset></form>`;
    let outcome = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Outcome"}}</legend>
            <label>{{localize "PF2E-REG.Critical Success"}}</label>
            <input type="checkbox" id="reOutcomeCrit">

            <label>{{localize "PF2E-REG.Success"}}</label>
            <input type="checkbox" id="reOutcomeSuccess">
            <br />
            <label>{{localize "PF2E-REG.Failure"}}</label>
            <input type="checkbox" id="reOutcomeFail">

            <label>{{localize "PF2E-REG.Critical Failure"}}</label>
            <input type="checkbox" id="reOutcomeFumble">
        </fieldset></form>`;
    let rollOptions = `
        <form class="reForm">
            <fieldset><legend>{{localize "PF2E-REG.Roll Options"}}</legend>
            <p>{{localize "PF2E-REG.Separate entries with a comma (no space)"}}<br /></p>
            <input type="text" id="reRollOptions">
            </fieldset>
        </form>`;
    let mode = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Mode"}}</legend>
            <select id="reMode">
                <option value=""></option>
                <option value="multiply">{{localize "PF2E-REG.Multiply"}}</option>
                <option value="add">{{localize "PF2E-REG.Add"}}</option>
                <option value="downgrade">{{localize "PF2E-REG.Downgrade"}}</option>
                <option value="upgrade">{{localize "PF2E-REG.Upgrade"}}</option>
                <option value="override">{{localize "PF2E-REG.Override"}}</option>
            </select>
        </fieldset></form>`;
    let path = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Path"}}</legend>
            <input type="text" id="rePath">
        </fieldset></form>`;
    let scope = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Scope"}}</legend><input type="text" id="reScope"></fieldset></form>`;
    let add = `
        <form class="reForm">
            <fieldset><legend>{{localize "PF2E-REG.Add"}}</legend>
            <p>{{localize "PF2E-REG.Separate entries with a comma (no space)"}}<br /></p>
            <input type="text" id="reAdd">
            </fieldset>
        </form>`;
    let range = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Range"}}</legend><input type="number" id="reRange"></fieldset></form>`;
    let strikeRange = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Range"}}</legend>
        <select id="reAcuity">
            <option value=""></option>
            <option value="melee">Melee</option>
            <option value="ranged">Ranged</option>
        </select></fieldset></form>`;
    let acuity = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Acuity"}}</legend>
            <select id="reAcuity">
                <option value=""></option>
                <option value="precise">Precise</option>
                <option value="imprecise">Imprecise</option>
                <option value="vague">Vague</option>
            </select>
        </fieldset></form>`;
    let damage = `
        <form class="reForm"><fieldset>
            <legend>{{localize "PF2E-REG.Damage"}}</legend>
            <label>{{localize "PF2E-REG.Number of Dice"}}</label>
            <input type="number" id="reDice">
            <label>{{localize "PF2E-REG.Die Size"}}</label>
            <select id="reDie">
                <option value=""></option>
                <option value="d4">{{localize "PF2E-REG.d4"}}</option>
                <option value="d6">{{localize "PF2E-REG.d6"}}</option>
                <option value="d8">{{localize "PF2E-REG.d8"}}</option>
                <option value="d10">{{localize "PF2E-REG.d10"}}</option>
                <option value="d12">{{localize "PF2E-REG.d12"}}</option>
                <option value="d20">{{localize "PF2E-REG.d20"}}</option>
            </select>
            <label>{{localize "PF2E-REG.Damage Type"}}</label>
            <select id="reDamage">
                <option value=""></option>
                <option value="slashing">{{localize "PF2E-REG.Slashing"}}</option>
                <option value="piercing">{{localize "PF2E-REG.Piercing"}}</option>
                <option value="bludgeoning">{{localize "PF2E-REG.Bludgeoning"}}</option>
                <option value="precision">{{localize "PF2E-REG.Precision"}}</option>
                <option value="fire">{{localize "PF2E-REG.Fire"}}</option>
                <option value="cold">{{localize "PF2E-REG.Cold"}}</option>
                <option value="electricity">{{localize "PF2E-REG.Electricity"}}</option>
                <option value="acid">{{localize "PF2E-REG.Acid"}}</option>
                <option value="poison">{{localize "PF2E-REG.Poison"}}</option>
                <option value="sonic">{{localize "PF2E-REG.Sonic"}}</option>
                <option value="force">{{localize "PF2E-REG.Force"}}</option>
                <option value="mental">{{localize "PF2E-REG.Mental"}}</option>
                <option value="lawful">{{localize "PF2E-REG.Lawful"}}</option>
                <option value="chaotic">{{localize "PF2E-REG.Chaotic"}}</option>
                <option value="good">{{localize "PF2E-REG.Good"}}</option>
                <option value="evil">{{localize "PF2E-REG.Evil"}}</option>
                <option value="positive">{{localize "PF2E-REG.Positive"}}</option>
                <option value="negative">{{localize "PF2E-REG.Negative"}}</option>
            </select>
        </fieldset></form>`;
    let traits = `
        <form class="reForm">
            <fieldset><legend>{{localize "PF2E-REG.Traits"}}</legend>
            <p>{{localize "PF2E-REG.Separate entries with a comma (no space)"}}<br /></p>
            <input type="text" id="reTraits">
            </fieldset>
        </form>`;
    let category = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Category"}}</legend><input type="text" id="reCategory"></fieldset></form>`;
    let group = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Group"}}</legend>
            <select id="reGroup">
                <option value=""></option>
                <option value="sword">{{localize "PF2E-REG.Swords"}}</option>
                <option value="bow">{{localize "PF2E-REG.Bows"}}</option>
                <option value="knife">{{localize "PF2E-REG.Knives"}}</option>
                <option value="spear">{{localize "PF2E-REG.Spears"}}</option>
                <option value="axe">{{localize "PF2E-REG.Axes"}}</option>
                <option value="hammer">{{localize "PF2E-REG.Hammers"}}</option>
                <option value="pick">{{localize "PF2E-REG.Picks"}}</option>
                <option value="flail">{{localize "PF2E-REG.Flails"}}</option>
                <option value="brawling">{{localize "PF2E-REG.Brawling"}}</option>
                <option value="polearm">{{localize "PF2E-REG.Polearms"}}</option>
                <option value="sling">{{localize "PF2E-REG.Slings"}}</option>
                <option value="bomb">{{localize "PF2E-REG.Bombs"}}</option>
                <option value="shield">{{localize "PF2E-REG.Shields"}}</option>
                <option value="dart">{{localize "PF2E-REG.Darts"}}</option>
                <option value="club">{{localize "PF2E-REG.Club"}}</option>
            </select>
        </fieldset></form>`;
    let brackets = `
        <form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Brackets"}}</legend>
            <p>{{localize "PF2E-REG.Format: start1,value1,end1,start2,value2,end2"}}</p>
            <p>{{localize "PF2E-REG.Example: 1,1,9,10,2,17,18,3,20"}}</p>
            <p>{{localize "PF2E-REG.First start and last end may be omitted"}}</p>
            <p>{{localize "PF2E-REG.Example: ,1,9,10,2,17,18,3"}}</p>
            <label>{{localize "PF2E-REG.Use diceNumber"}}</label>
            <input type="checkbox" id="reBracketDiceNumber">
            <input type="text" id="reBrackets">
        </fieldset></form>`;
    let priority = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Priority"}}</legend><input type="number" id="rePriority"></fieldset></form>`;
    let except = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Except"}}</legend><input type="text" id="reExcept"></fieldset></form>`;
    let domain = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Domain"}}</legend><input type="text" id="reDomain"></fieldset></form>`;
    let option = `<form class="reForm"><fieldset><legend>{{localize "PF2E-REG.Option"}}</legend><input type="text" id="reOption"></fieldset></form>`;

    let contents = {
        FlatModifier: label + selector + advSelector + type + value + predicate + brackets,
        Weakness: anyType + value + except,
        Resistance: anyType + value + except,
        Immunity: anyType + except,
        ToggleProperty: label + property,
        DamageDice: label + damageSelector + advSelector + damageType + dice + predicate + critical + brackets,
        BaseSpeed: label + damageSelector + advSelector + damageType + dice + predicate + critical + brackets,
        FixedProficiency: label + selector + advSelector + value + predicate,
        Strike: label + category + group + damage + strikeRange + traits,
        Note: text + selector + advSelector + predicate + outcome,
        DexterityModifierCap: value + predicate,
        Sense: label + senseSelector + acuity + range,
        WeaponPotency: selectorAttack + potencyAdvSelector + value + predicate,
        Striking: selectorDamage + strikingAdvSelector + value + predicate,
        MultipleAttackPenalty: label + selectorAttack + advSelector + value + rollOptions + predicate,
        ActiveEffectLike: mode + path + value + priority + predicate + brackets,
        RollOption: domain + option,
        TempHP: textValue,
        TokenEffectIcon: textValue,
        TokenImage: textValue,
        CreatureSize: sizeValue,
        EffectTarget: scope,
        ActorTraits: add,
        AdjustDegreeOfSuccess: label + adjustType + selector + adjustment + predicate,
    };
    let wiki = {
        FlatModifier: `
                <h3>My First Rule Element</h3>
                <p>The first Rule Element for this guide is the Item Bonus of the Armbands of Athleticism</p>
                <code>{ "key":"FlatModifier", "label":"Armbands of Athleticism", "selector":"athletics", "type":"item", "value":2 }</code>
                <p>They might be tricky to get the hang of.  These once set up, will save you lines and lines of code.</p>
                <p>Let's break these down:</p>
                <ol>
                    <li>Key: This is the name given to the rule element within the code.
                        <ul>
                            <li>If this is not correct your rule with do nothing!</li>
                        </ul>
                    </li>
                    <li>Label: Name your rule. For flat modifiers text will show up when you look at the modifiers of a given roll
                        <ul>
                            <li>To see this in action apply the rule effect then look at the ac modifiers, you should see "Inspire courage"</li>
                        </ul>
                    </li>
                    <li>Selector: Specifies, or selects, what to apply your modifier to.
                        <ul>
                            <li>There is a list at the bottom of the document.</li>
                            <li>An incorrect selector will make your rule do nothing</li>
                            <li>Add the _id/ of an item to the selector to target a specific item or item type</li>
                        </ul>
                    </li>
                    <li>Type: This is the modifier type,
                        <ul>
                            <li>With this set appropriately the modifier will be taken into account for bonus stacking rules</li>
                        </ul>
                    </li>
                    <li>Value: the value can be minus if you are applying a penalty</li>
                </ol>
                <p>A slightly more advanced case appears in inspire courage, only one of these contains the new element, so this guide will keep the other two "minified"</p>
                <code>{"key":"FlatModifier","label":"Inspire Courage","selector":"attack","type":"status","value":1}</code>
                <code>{"key":"FlatModifier","label":"Inspire Courage","selector":"damage","type":"status","value":1}</code>
                <code>{ "key":"FlatModifier", "label":"Inspire Courage (vs fear)", "predicate":{ "all":[ "fear" ] }, "selector":"will", "type":"status", "value":1 }</code>
                <ol start="6">
                    <li>Predicate:  If you want your bonus to apply only at certain times, like only vs. fear, you can use a predicate, which comes in three modes:
                        <ul>
                            <li>"all": if everything in the list is present for a roll the modifier is applied</li>
                            <li>"any": if at least one in the list is present the modifier is applied</li>
                            <li>"not": if at least one item in the list is present the modifier is not applied</li>
                            <li>an incorrect predicate will make your rule act unexpectedly, these are case sensitive.</li>
                            <li>predicates currently enjoy automation from the spell save button and weapon attacks/damage by querying all their traits. They can also be set in Macros.</li>
                        </ul>
                    </li>
                </ol>
            `,
        Weakness: `
                <h3>Immunity, Weakness, Resistance</h3>
                <p>You can add immunity, weakness, resistance (IWR) to a creature with rule elements.  The automation for application of damage is not complete yet but this rule element lets you easily track your IWR.  Using any of them is quite straightforward.</p>
                <p>example (fire weakness)</p>
                <code>{ "key": "Weakness", "type": "fire", "value": 5 }</code>
                <p>But they can also be handed roll syntax to evaluate the value.</p>
                <p>example (negative resist equal to half level minimum 1)</p>
                <code>{ "key": "Resistance", "type": "negative", "value": "max(1,floor(@details.level.value/2))" }</code>
                <p>Immunity can be to a damage type or a condition.</p>
                <p>example (bleed immunity)</p>
                <code>{ "key": "Immunity", "type": "bleed" }</code>
                <p>You can also set exceptions.</p>
                <p>example (resist all except force)</p>
                <code>{ "key": "Resistance", "type": "all", "value": 5, "except": "force" }</code>
                <p>You cannot set the type to a damage type or condition that does not exist however, if you added a resistance to "holy" damage the resistance would not appear, but changing the type to "good" would allow it to show up.  Unique resistances, such as resistance 10 to ranged weapons, need to be handled as unique abilities instead.</p>
            `,
        Resistance: `
                <h3>Immunity, Weakness, Resistance</h3>
                <p>You can add immunity, weakness, resistance (IWR) to a creature with rule elements.  The automation for application of damage is not complete yet but this rule element lets you easily track your IWR.  Using any of them is quite straightforward.</p>
                <p>example (fire weakness)</p>
                <code>{ "key": "Weakness", "type": "fire", "value": 5 }</code>
                <p>But they can also be handed roll syntax to evaluate the value.</p>
                <p>example (negative resist equal to half level minimum 1)</p>
                <code>{ "key": "Resistance", "type": "negative", "value": "max(1,floor(@details.level.value/2))" }</code>
                <p>Immunity can be to a damage type or a condition.</p>
                <p>example (bleed immunity)</p>
                <code>{ "key": "Immunity", "type": "bleed" }</code>
                <p>You can also set exceptions.</p>
                <p>example (resist all except force)</p>
                <code>{ "key": "Resistance", "type": "all", "value": 5, "except": "force" }</code>
                <p>You cannot set the type to a damage type or condition that does not exist however, if you added a resistance to "holy" damage the resistance would not appear, but changing the type to "good" would allow it to show up.  Unique resistances, such as resistance 10 to ranged weapons, need to be handled as unique abilities instead.</p>
            `,
        Immunity: `
                <h3>Immunity, Weakness, Resistance</h3>
                <p>You can add immunity, weakness, resistance (IWR) to a creature with rule elements.  The automation for application of damage is not complete yet but this rule element lets you easily track your IWR.  Using any of them is quite straightforward.</p>
                <p>example (fire weakness)</p>
                <code>{ "key": "Weakness", "type": "fire", "value": 5 }</code>
                <p>But they can also be handed roll syntax to evaluate the value.</p>
                <p>example (negative resist equal to half level minimum 1)</p>
                <code>{ "key": "Resistance", "type": "negative", "value": "max(1,floor(@details.level.value/2))" }</code>
                <p>Immunity can be to a damage type or a condition.</p>
                <p>example (bleed immunity)</p>
                <code>{ "key": "Immunity", "type": "bleed" }</code>
                <p>You can also set exceptions.</p>
                <p>example (resist all except force)</p>
                <code>{ "key": "Resistance", "type": "all", "value": 5, "except": "force" }</code>
                <p>You cannot set the type to a damage type or condition that does not exist however, if you added a resistance to "holy" damage the resistance would not appear, but changing the type to "good" would allow it to show up.  Unique resistances, such as resistance 10 to ranged weapons, need to be handled as unique abilities instead.</p>
            `,
        ToggleProperty: `
                <h3>Toggle Property</h3>
                <p>A Toggle Property adds a checkbox to the Character's action sheet. The path in the property follows the schema "flags.pf2e.rollOptions.." where  corresponds to the selector of another Rule Element that gets activated or deactivated with the toggle and  is a unique name for the toggle that is used in the predicate of the other Rule Element.</p>
                <p>ToggleProperty</p>
                <code>{ "key": "ToggleProperty", "property": "flags.pf2e.rollOptions.damage-roll.power-attack" }</code>
                <p>A toggle Property may also have a label to change the text beside the checkbox from the item's name to a more fitting one. For Power Attack, the label is the name of the feat and doesn't need to be changed.</p>
            `,
        DamageDice: `
                <h3>Damage Dice</h3>
                <p>A Damage Dice Rule element adds additional Dice to damage or critical damage rolls. The example adds 3d6 piercing damage to a critical strike with an improvised weapon.</p>
                <p>DamageDice</p>
                <code>{ "critical": true, "key": "DamageDice", "selector": "damage", "diceNumber": 3, "dieSize": "d6", "damageType": "piercing", "predicate": { "all": [ "improvised" ] }, "label": "Shattering Strike" }</code>
                <p>dieSize and damageType can be omitted to add additional damage dice of the type and size that the weapon already has to the damage.</p>
                <p>The diceNumber or dieSize properties can be set in a value brackets object, examples for such use are in the advanced section. Targeting a very specific weapon with this rule is also explained in the advanced section.</p>
            `,
        BaseSpeed: `
                <h3>Base Speed</h3>
                <p>To add a base speed value, maybe with a Fly Spell Effect or with a feat granting a climbing speed a Base Speed Rule can be used.</p>
                <p>The speed rule elements were built for the familiars, with the intention of refactoring the PCs to use the same data structure for speed. That refactoring has not (yet?) happened.</p>
                <p>BaseSpeed</p>
                <code>{ "key": "BaseSpeed", "selector": "fly", "value": 30 }</code>
                <p>The selector for the Base Speed Element differs from the list of selectors at the end of this file by omitting the "-speed" part.</p>
            `,
        FixedProficiency: `
                <h3>Fixed Proficiency</h3>
                <p>This Rule Element can be used well for Animal Form and similar spells, as the name suggests it sets the proficiency to the given value. It appears in the game as a modifier to the skill that makes up for the difference.</p>
                <p>FixedProficiency</p>
                <code>{ "key": "FixedProficiency", "selector": "athletics", "value": 9 }</code>
                <p></p>
            `,
        Strike: `
                <h3>Strike</h3>
                <p>This rule element is a bit trickier in that there are a lot of necessary fields. The easiest way to create your own custom strike would be to start from a finished strike like the monk's Tiger Claw strike here.</p>
                <p>Strike</p>
                <code>{ "key": "Strike", "category": "unarmed", "damage": { "base": { "damageType": "slashing", "dice": 1, "die": "d8" } }, "group": "brawling", "label": "Tiger Claw", "range": "melee", "traits": [ "agile", "finesse", "unarmed", "nonlethal" ] }</code>
                <p>If necessary an "ability": "int"-entry could be used for a strike that scales its to-hit with intelligence, as the "Spiritual Weapon" Spell could. This works with the other 3 character ability shorthands too. To add a Flat part to the damage like an ability modifier, add an additional Flat Modifier Element.</p>
            `,
        Note: `
                <h3>Note</h3>
                <p>The Note Rule Element adds additional text to the chat output of a roll. The Example (taken from the Alchemist's Evasion Feat) adds a reminder to all reflex saves about the feat.</p>
                <p>Note</p>
                <code>{ "key":"Note", "selector":"reflex", "text":"&ltp class='compact-text'&gt&ltstrong&gt{item|name}&lt/strong&gt When you roll a success on a Reflex save, you get a critical success instead.&lt/p&gt" }</code>
                <p>for damage Rolls, it is possible to set a message only on a critical roll or only on a normal hit.</p>
                <code>{ "key": "Note", "selector": "damage", "text": "&ltp class='compact-text'&gt&ltstrong&gtAxiomatic Rune&lt/strong&gt When you critically succeed at an attack roll with this weapon against a chaotic creature, instead of rolling, count each weapon damage die as average damage rounded up (3 for d4, 4 for d6, 5 for d8, 6 for d10, 7 for d12).&lt/p&gt", "outcome": ["criticalSuccess"] }</code>
            `,
        DexterityModifierCap: `
                <h3>Dexterity Modifier Cap</h3>
                <p>Some spells and items, while not armor, do impose a cap on the dexterity modifier. For those, a Dexterity Modifier Cap can be set per Rule Element.</p>
                <p>DexterityModifierCap</p>
                <code>{ "key": "DexterityModifierCap", "value": 5 }</code>
            `,
        Sense: `
                <h3>Sense</h3>
                <p>A Rule Element for Feats, Spells, and Items that grant additional senses or increase the acuity of existing ones. The Examples are the bloodhound mask and the Sensate Gnomes scent.</p>
                <p>Sense</p>
                <code>{ "key": "Sense", "label": "PF2E.SensesDarkvision", "selector": "darkvision" }</code>
                <code>{ "acuity": "imprecise","key": "Sense","label": "PF2E.SensesScent","range": 30,"selector": "scent" }</code>
                <p>For these Rules, the Label is queried from the language database.</p>
            `,
        WeaponPotency: `
                <h3>Weapon Potency and Striking</h3>
                <p>The weapon potency and striking rule elements do basically the same as the flat modifier and damage dice rule elements, but with the additional feature of properly changing the damage rolls for things like backstabber (+2 to damage with a +3 potency rune) and deadly (more dice if striking rune).</p>
                <p>WeaponPotency</p>
                <code>{ "key": "WeaponPotency", "selector": "{item|_id}-attack", "value": 1 }</code>
                <p>Striking</p>
                <code>{ "key": "Striking", "selector": "{item|_id}-damage", "value": 1 }</code>
                <p>Another Example would be the Handwraps of mighty blows at +1 striking:</p>
                <code>{ "key": "WeaponPotency", "predicate":{ "all":[ "unarmed" ] }, "selector": "attack", "value": 1 }</code>
                <p>Striking</p>
                <code>{ "key": "Striking", "predicate":{ "all":[ "unarmed" ] }, "selector": "damage", "value": 1 }</code>
            `,
        Striking: `
                <h3>Weapon Potency and Striking</h3>
                <p>The weapon potency and striking rule elements do basically the same as the flat modifier and damage dice rule elements, but with the additional feature of properly changing the damage rolls for things like backstabber (+2 to damage with a +3 potency rune) and deadly (more dice if striking rune).</p>
                <p>WeaponPotency</p>
                <code>{ "key": "WeaponPotency", "selector": "{item|_id}-attack", "value": 1 }</code>
                <p>Striking</p>
                <code>{ "key": "Striking", "selector": "{item|_id}-damage", "value": 1 }</code>
                <p>Another Example would be the Handwraps of mighty blows at +1 striking:</p>
                <code>{ "key": "WeaponPotency", "predicate":{ "all":[ "unarmed" ] }, "selector": "attack", "value": 1 }</code>
                <p>Striking</p>
                <code>{ "key": "Striking", "predicate":{ "all":[ "unarmed" ] }, "selector": "damage", "value": 1 }</code>
            `,
        MultipleAttackPenalty: `
                <h3>Multiple Attack Penalty</h3>
                <p>The Multiple Attack Penalty rule element can change the MAP Progression of specific strikes, or the character as a whole. The two sample Rule Elements implement a flurry ranger, put them on an Effect item and they'll make you hit very often</p>
                <p>MultipleAttackPenalty</p>
                <code>{ "key":"MultipleAttackPenalty", "predicate": { "all": [ "agile", "hunted-prey" ] }, "roll-options": [ "all" ], "selector":"attack", "value":-2 }</code>
                <code>{ "key":"MultipleAttackPenalty", "predicate": { "all": [ "hunted-prey" ], "not": [ "agile" ] }, "roll-options": [ "all" ], "selector":"attack", "value":-3 }</code>
            `,
        ActiveEffectLike: `
                <h3>Active Effect Like Rule Element</h3>
                <p>The ActiveEffect-Like Rule Element is incredibly powerful.  It is more flexible than regular active effects and should be preferred due to performance improvements and reliability.  The values it writes are done before many of the other steps of data preparation, making it safe to set flags that other rule elements can read from.  This rule element from the barbarian dedication feat sets a flag that the barbarian instincts can pick up in their predicates to change the damage dealt to be correct for the dedication.  By setting the flag under <code>flags.pf2e.rollOptions...</code> it can be read by predicates like those set by ToggleProperty or SetProperty.  Setting flags with this should be considered more reliable than the other rule elements since we know it comes before all other rule elements in data preparation.  Best practice is also <code>camelCaseForPropertyNames</code>.</p>
                <p>Example (Barbarian Dedication flag)</p>
                <code>{ "key": "ActiveEffectLike", "mode": "upgrade", "path": "flags.pf2e.rollOptions.all.barbarianDedication", "value": 1 }</code>
                <p>These flags can be stored as boolean, but javascript interprets non-zero numbers as true, and 0 as false.  So a value of <code>"@data.details.level.value - 15"</code> would be read as true until the actor reached level 15, then turn false.  At level 16 the flag would again be read as true.</p>
                <p>We can also store custom modifiers.  Each feat in the barbarian dedication has this rule element on it using the <code>add</code> mode to count the number of feats taken from the dedication.</p>
                <code>{ "key": "ActiveEffectLike", "mode": "add", "path": "data.data.custom.modifiers.barbarianDedicationCount", "value": 1 }</code>
                <p>This is paired with a flat modifier rule element on the Barbarian Resiliency feat to add 3 HP for every taken feat.</p>
                <code>{ "key": "FlatModifier", "selector": "hp", "value": "3*@data.custom.modifiers.barbarianDedicationCount" }</code>
                <p>The upgrade mode can also be used to increase ranks like so</p>
                <code>{ "key": "ActiveEffectLike", "mode": "upgrade", "path": "data.skills.rel.rank", "value": 1 }</code>
                <p>Lastly this rule element is able to use brackets, like this rule element from Acrobat Dedication</p>
                <code>{ "key": "ActiveEffectLike", "mode": "upgrade", "path": "data.skills.acr.rank", "value": { "brackets": [{ "end": 6, "start": 1, "value": 2 }, { "end": 14, "start": 7, "value": 3 }, { "start": 15, "value": 4 }] } }</code>
                <p>The brackets used in this are the same as any other rule element, however care should be taken to not rely on other rule elements or active effects to modify the bracketed value.  Character level, item level, ability scores, and other values not modified by rule elements should be safe to bracket on.  Bracketing on the rank of a skill or weapon proficiency will not be safe since these are modified by other rule elements and the order of data preparation may yield unreliable results.</p>
                <p>The modes available for use are 'multiply', 'add', 'downgrade', 'upgrade', and 'override'.  It can write numbers, strings, and booleans and the value field accepts roll syntax similar to other rule elements.</p>
                <p>You can add a field "priority" to control the order of application of the AE-likes. The lower the value the earlier the AE like gets applied during data preparation. without specifying they will default to 10 for multiply, 20 for add, 30 for downgrade, 40 for upgrade and 50 for override, making override usually effectively ignore all other AElikes.</p>
            `,
        TempHP: `
                <h3>Temp HP</h3>
                <p>Just as the name implies this Rule element adds Temporary HP to a character the moment it is added. Many Temp HP Effects derive their value from player stats, the Rage Element is a prime example of how this can be done with the system. The first example is from the Aeon Stone (Pink Rhomboid).</p>
                <p>TempHP</p>
                <code>{ "key": "TempHP", "value": 15 }</code>
                <code>{ "key": "TempHP", "value": "@details.level.value + @abilities.con.mod" }</code>
            `,
        TokenEffectIcon: `
                <h3>Token Effect Icon</h3>
                <p>This will apply an effect icon to the token it is applied to.</p>
                <p>TokenEffectIcon</p>
                <code>{ "key": "TokenEffectIcon" }</code>
                <p>By Default the Effect Icon is the Icon of the Item/feat/Effect that carries the Rule element, to change that an additional field can be used.</p>
                <code>{ "key": "TokenEffectIcon","value": "systems/pf2e/icons/spells/all-is-one-one-is-all.jpg" }</code>
            `,
        TokenImage: `
                <h3>Token Image</h3>
                <p>This rule element will change the token of an actor to the boar token that is included in the system. It is useful for Wild Shape or can be customized to set expressions on PCs per effect item.</p>
                <p>TokenImage</p>
                <code>{ "key": "TokenImage","value": "systems/pf2e/icons/bestiary-1/boar.webp" }</code>
            `,
        CreatureSize: `
                <h3>Creature Size</h3>
                <p>This rule element can be used on a 2nd level enlarge spell effect to resize an actor and its token. Removing the item with this rule element will reset the size to the original token size again.</p>
                <p>CreatureSize</p>
                <code>{ "key": "CreatureSize", "value": "large" }</code>
            `,
        EffectTarget: `
                <h3>Effect Target</h3>
                <p>The effect target rule element will add a dropdown to the effect sheet, so you can make a selection - for example for a weapon. You can then use that for creating a dynamic selector to target an effect to a single weapon.</p>
                <p>EffectTarget</p>
                <code>{ "key": "EffectTarget", "scope": "weapon" }</code>
            `,
        ActorTraits: `
                <h3>Adding Traits</h3>
                <code>{ "key": "ActorTraits", "add": ["humanoid", "human", "elf"] }</code>
            `,
        AdjustDegreeOfSuccess: `
                <h3>Changing Degree of Success</h3>
                <p>The type can be <code>save</code>, <code>skill</code> or <code>attribute</code> (<code>attribute</code> can only take <code>perception</code> as a selector).  Adjustment has the same format as</p>
                <code>interface PF2CheckDCModifiers { all?: 'one-degree-better' | 'one-degree-worse'; criticalFailure?: 'one-degree-better' | 'one-degree-worse'; failure?: 'one-degree-better' | 'one-degree-worse'; success?: 'one-degree-better' | 'one-degree-worse'; criticalSuccess?: 'one-degree-better' | 'one-degree-worse'; }</code>
                <p>Example (Juggernaut Feat):</p>
                <code>{"key":"AdjustDegreeOfSuccess","type":"save","selector":"fortitude","adjustment":{"success":"one-degree-better"}}</code>
                <p>Example (Risky Surgery Feat):</p>
                <code>{"key":"AdjustDegreeOfSuccess","type":"skill","selector":"medicine","predicate":{"all":["risky-surgery"]},"adjustment":{"success":"one-degree-better"}}</code>
            `,
    };
    function capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    // Change application to show inputs based on key, as defined above
    function UpdateKey() {
        $("#reContent").html(contents[$("#reKey").val()]);
    }
    // Parse inputs into rule element format
    function Update() {
        rule = {};
        for (let x of [
            "key",
            "label",
            "selector",
            "advSelector",
            "type",
            "mode",
            "path",
            "text",
            "value",
            "diceNumber",
            "dieSize",
            "damageType",
            "critical",
            "property",
            "scope",
            "acuity",
            "range",
            "category",
            "group",
            "except",
            "domain",
            "option",
        ]) {
            //test for properties (after capitalizing the first letter capitalized and prepending "re" to match up with ids)
            let propertyValue = $("#re" + capitalize(x))?.val();
            if (propertyValue) {
                //makes sure numbers are saved as such
                if (parseInt(propertyValue)) {
                    rule[x] = parseInt(propertyValue);
                } else {
                    rule[x] = propertyValue;
                }
            }
        }

        if ($("#reRollOptions").val()) rule["roll-options"] = $("#reRollOptions").val().split(",");
        if ($("#reAdd").val()) rule.add = $("#reAdd").val().split(",");
        if ($("#reTraits").val()) rule.traits = $("#reTraits").val().split(",");

        if ($("#reAdvSelector").val()) {
            rule.selector = rule.advSelector + rule.selector;
            delete rule.advSelector;
        }

        if ($("#reDamageType").val() == "precision") {
            rule.category = rule.damageType;
            delete rule.damageType;
        }

        if ($("#reOverride").is(":checked")) {
            rule.override = { dieSize: rule.dieSize };
            delete rule.dieSize;
        }

        if ($("#reCrit").val() || $("#reSuccess").val() || $("#reFail").val() || $("#reFumble").val()) {
            rule.adjustment = {};
            if ($("#reCrit").val()) rule.adjustment.criticalSuccess = $("#reCrit").val();
            if ($("#reSuccess").val()) rule.adjustment.success = $("#reSuccess").val();
            if ($("#reFail").val()) rule.adjustment.failure = $("#reFail").val();
            if ($("#reFumble").val()) rule.adjustment.criticalFailure = $("#reFumble").val();
        }

        if (
            $("#reOutcomeCrit").is(":checked") ||
            $("#reOutcomeSuccess").is(":checked") ||
            $("#reOutcomeFail").is(":checked") ||
            $("#reOutcomeFumble").is(":checked")
        ) {
            rule.outcome = [];
            if ($("#reOutcomeCrit").is(":checked")) {
                rule.outcome.push("criticalSuccess");
            }
            if ($("#reOutcomeSuccess").is(":checked")) {
                rule.outcome.push("success");
            }
            if ($("#reOutcomeFail").is(":checked")) {
                rule.outcome.push("failure");
            }
            if ($("#reOutcomeFumble").is(":checked")) {
                rule.outcome.push("criticalFailure");
            }
        }

        if ($("#reDice").val() || $("#reDie").val() || $("#reDamage").val()) {
            rule.damage = { base: {} };
            if ($("#reDice").val()) rule.damage.base.dice = parseInt($("#reDice").val());
            if ($("#reDie").val()) rule.damage.base.die = $("#reDie").val();
            if ($("#reDamage").val()) rule.damage.base.damageType = $("#reDamage").val();
        }

        if ($("#reAll").val() || $("#reAny").val() || $("#reNot").val()) {
            rule.predicate = {};
            if ($("#reAll").val()) rule.predicate.all = $("#reAll").val().split(",");
            if ($("#reAny").val()) rule.predicate.any = $("#reAny").val().split(",");
            if ($("#reNot").val()) rule.predicate.not = $("#reNot").val().split(",");
        }

        if ($("#reBrackets").val()) {
            console.log("Brackets present");
            $("#reBracketDiceNumber").is(":checked") && delete rule.diceNumber;
            rule.value = { brackets: [] };
            let vals = $("#reBrackets").val().split(",");
            let starts = [];
            let ends = [];
            let values = [];
            for (let i = 0; i < vals.length; i++) {
                i % 3 == 0 && starts.push(vals[i]);
                i % 3 == 1 && values.push(vals[i]);
                i % 3 == 2 && ends.push(vals[i]);
            }
            for (let i = 0; i < Math.max(starts.length, ends.length, values.length); i++) {
                rule.value.brackets.push({});
                starts[i] && Object.assign(rule.value.brackets[i], { start: parseInt(starts[i]) });
                if ($("#reBracketDiceNumber").is(":checked")) {
                    values[i] && Object.assign(rule.value.brackets[i], { value: { diceNumber: parseInt(values[i]) } });
                } else {
                    values[i] && Object.assign(rule.value.brackets[i], { value: parseInt(values[i]) });
                }
                ends[i] && Object.assign(rule.value.brackets[i], { end: parseInt(ends[i]) });
            }
        }

        $("#reRuleElement").html(JSON.stringify(rule, undefined, 2));
    }
    //moved here because otherwise bug and too lazy to fix
    $("#reCopy").on("click", () => {
        navigator.clipboard.writeText($("#reRuleElement").val());
        ui.notifications.info("Rule element copied to the clipboard");
    });
    // Basically the opposite of update
    function Import() {
        let RE = globalThis.REG.data;
        let Source = globalThis.REG.source;
        globalThis.REG = undefined;

        //debugging
        // console.log("Importing:");
        // console.log(RE);
        // console.log("Source:")
        // console.log(Source);

        //changing copy button to apply
        $("#reCopy").replaceWith(
            `<button id="reApply" class="reButton" type="button">{{localize "PF2E-REG.Apply"}}</button>`
        );
        $("#reApply").on("click", () => {
            $(Source).html($("#reRuleElement").val());
            ui.notifications.info("Rule element applied");
        });

        //import key and generate appropriate html
        if (RE.key.includes("PF2E.RuleElement.")) {
            RE.key = RE.key.replace("PF2E.RuleElement.", "");
        }
        $("#reKey").val(RE.key);
        UpdateKey();

        //most input handling
        for (let x of Object.keys(RE).filter((value) =>
            [
                "label",
                "type",
                "mode",
                "path",
                "text",
                "value",
                "diceNumber",
                "dieSize",
                "damageType",
                "critical",
                "property",
                "scope",
                "acuity",
                "range",
                "category",
                "group",
                "priority",
                "except",
                "domain",
                "option",
            ].includes(value)
        )) {
            console.log(x);
            if ($("#re" + capitalize(x))) {
                $("#re" + capitalize(x)).val(RE[x]);
            }
        }

        //various list handling
        if (RE.rollOptions) $("#reRollOptions").val(RE.rollOptions.toString());
        if (RE.add) $("#reAdd").val(RE.add.toString());
        if (RE.traits) $("#reTraits").val(RE.traits.toString());

        //advanced selector handling
        if (RE.selector) {
            if (RE.selector.includes("group")) {
                $("#reAdvSelector").val(RE.selector.split("group-")[0] + "group-");
                $("#reSelector").val(RE.selector.split("group-")[1]);
            } else if (RE.selector.includes("}")) {
                $("#reAdvSelector").val(RE.selector.split("}-")[0] + "}-");
                $("#reSelector").val(RE.selector.split("}-")[1]);
            } else {
                $("#reSelector").val(RE.selector);
            }
        }

        //precision and override handling
        if (RE.category == "precision") {
            $("#reDamageType").val("precision");
        }
        if (RE.override) {
            if ($("#reDieSize")) {
                $("#reDieSize").val(RE.override.dieSize);
            }
            if ($("#reOverride")) {
                $("#reOverride").prop("checked", true);
            }
        }

        //predicate handling
        if (RE.predicate) {
            if (RE.predicate.all) {
                $("#reAll").val(RE.predicate.all.toString());
            }
            if (RE.predicate.any) {
                $("#reAny").val(RE.predicate.any.toString());
            }
            if (RE.predicate.not) {
                $("#reNot").val(RE.predicate.not.toString());
            }
        }

        //adjustment handling
        if (RE.adjustment) {
            if (RE.adjustment.criticalSuccess) {
                $("#reCrit").val(RE.adjustment.criticalSuccess);
            }
            if (RE.adjustment.success) {
                $("#reSuccess").val(RE.adjustment.success);
            }
            if (RE.adjustment.failure) {
                $("#reFail").val(RE.adjustment.failure);
            }
            if (RE.adjustment.criticalFailure) {
                $("#reFumble").val(RE.adjustment.criticalFailure);
            }
        }

        //outcome handling
        if (RE.outcome) {
            if (RE.outcome.includes("criticalSuccess")) {
                $("#reOutcomeCrit").prop("checked", true);
            }
            if (RE.outcome.includes("success")) {
                $("#reOutcomeSuccess").prop("checked", true);
            }
            if (RE.outcome.includes("failure")) {
                $("#reOutcomeFail").prop("checked", true);
            }
            if (RE.outcome.includes("criticalFailure")) {
                $("#reOutcomeFumble").prop("checked", true);
            }
        }

        if ($("#reDice").val() || $("#reDie").val() || $("#reDamage").val()) {
            rule.damage = { base: {} };
            if ($("#reDice").val()) rule.damage.base.dice = parseInt($("#reDice").val());
            if ($("#reDie").val()) rule.damage.base.die = $("#reDie").val();
            if ($("#reDamage").val()) rule.damage.base.damageType = $("#reDamage").val();
        }

        Update();
    }
    if (typeof globalThis.REG != "undefined") {
        Import();
    }
    $("#reUpdateKey").on("click", () => {
        UpdateKey();
    });
    $("#reUpdate").on("click", () => {
        Update();
    });
    $("#reInfo").on("click", () => {
        let content = `<p>Learn more about rule elements <a href="https://gitlab.com/hooking/foundry-vtt---pathfinder-2e/-/wikis/Going-Deeper-Topics/Quickstart-guide-for-rule-elements">here</a></p>`;
        content += wiki[$("#reKey").val()];
        new Dialog(
            {
                title: "Info",
                content,
                buttons: {},
            },
            {
                width: 600,
            }
        ).render(true);
    });
</script>
